.about-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  .about-header {
    font-size: 2em;
    font-weight: 900;
    color: $teal;
  }

  .about-text {
    font-weight: 400;

    ul {
      margin-top: 0px;
    }
  }
}

.text {
  font-size: 1.8em;
  font-weight: 800;
  margin-left: 40px;
  text-decoration: none;
  color: $teal;

  &:hover {
    color: navy;
  }
}
